.icon {
  > svg {
    width: 25px;
    height: 25px;
  }
}
.search {
  > svg {
    > path {
      fill: var(--white);
    }
  }
}

.misc-icon-container {
  display: grid;
}
div.misc-icon {
  --size: 20px;
  width: var(--size);
  aspect-ratio: 1/1;
  place-self: center;
  > svg {
    width: var(--size);
    aspect-ratio: 1/1;
  }
}
