.nav {
  height: 60px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--lighter);
  border-radius: 1rem;
  > ul {
    color: var(--primary);
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    > li {
      line-height: 140%;
      text-transform: capitalize;
    }
    > .selected {
      border-bottom: 1px solid var(--darker);
      color: var(--darker);
    }
  }
}
