.nav {
  text-align: center;
  > ul {
    color: var(--primary);
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    > li {
      line-height: 140%;
    }
    > .selected {
      border-bottom: 1px solid var(--darker);
      color: var(--darker);
    }
  }
}
