/*reset style*/
@import "./resetStyle.css";
/* fonts */
@import ".//fonts/sairaCondensed/sairaCondensed.css";
/* colors */
@import "./color.css";
/* icon */
@import "./icon.css";
/* element styles */
@import "./section-container.css";
@import "./chunk.css";
@import "./main.css";
@import "./weather.css";
@import "./nav.css";
@import "./localInfo.css";
@import "./forecast.css";
@import "./hourly.css";
html {
  font-family: "Saira Condensed";
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
