.weather {
  background: var(--primary);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-locale {
  display: flex;
  flex-direction: column;
  > h2 {
    font-size: 1.25rem;
    line-height: 90%;
    font-weight: 500;
  }
  > p {
    font-size: 0.75rem;
    font-weight: 200;
    line-height: 90%;
  }
  > h3 {
    font-size: 1rem;
  }
}

.weather-input {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  background-color: var(--lighter);

  > input[type="text"] {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--white);
    font-size: 0.75rem;
    color: var(--white);
    background-color: var(--lighter);
    width: 18ch;
  }
  > div {
    border-bottom: 1px solid var(--white);
  }
}

.weather-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  > img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-bottom: -1rem;
  }
  > h2 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 100%;
  }
  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    > p {
      font-size: 2rem;
    }
    > h1 {
      font-size: 4.5rem;
      font-weight: 200;
      line-height: 100%;
    }
  }
}

.weather-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  > p {
    font-size: 1.125rem;

    line-height: 130%;
    font-weight: 200;
  }
}
